selenium==4.21.0
webdriver-manager==4.0.1
pytest==8.2.1
behave==1.2.6
allure-behave==2.13.5
requests==2.32.2
allure-combine==1.0.11
python-telegram-bot==21.2
xlib==0.21
pillow==10.3.0
PyAutoGUI==0.9.54